{% extends 'base.html' %}

{% block head %}
    <title>Add new group - Task Manager</title>
{% endblock %}

{% block body %}
    <section>
        <form action="{{ url_for('groups.add_group') }}" method="post">
            {{ form.csrf_token }}

            <h1 class="h3 mb4 fw-normal">Add new group</h1>

            <div class="mb-3">
                <label for="inputTitle">Group title</label>
                {{ form.title(class='form-control', id='inputTitle', placeholder='Group title') }}
            </div>

            {{ form.submit(class='btn btn-primary') }}
            <a href="{{ url_for('routes.index') }}" class="float-end">Cancel</a>
        </form>
    </section>
{% endblock %}