{% extends 'base-chore.j2' %}

{% block head %}
    <title>{{ chore.title }} - ChoreChirp</title>
{% endblock %}

{% block main_column %}
    <section class="mb-4">
        <div class="card">
            <div class="card-header">
                <h3 class="chore-detail-title h3 my-0 d-flex justify-content-between align-items-center">
                    <span>{{ chore.title }}</span>
                    <div>
                        <a href="{{ url_for('chores.edit_chore', chore_id=chore.id) }}"
                           class="link-secondary ms-1" title="Edit chore">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="{{ url_for('chores.remove_chore', chore_id=chore.id) }}"
                           class="link-secondary ms-1" title="Remove chore">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </h3>
            </div>

            <div class="card-body">
                {{ chore.description | markdown | safe }}
            </div>
        </div>
    </section>

    <hr>

    <!-- Comments section -->
    <section class="mt-4">
        <div id="comments-app-container" data-id="{{ chore.id }}" data-owner-id="{{ chore.user_id }}" v-cloak></div>
    </section>

{% endblock %}
