body {
    min-height: 100vh;
}

a.btn.btn-outline-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
}

.card-task.dragging {
    opacity: 0.5;
    background-color: var(--bs-gray-300);
}

.col.dragging > .card,
.col.dragging .card-task {
    opacity: 0.5;
    background-color: var(--bs-gray-300);
}