<!-- Meta Tags -->
<meta name="description" content="Simplify your life with ChoreChirp – the task management and note-taking app where tasks effortlessly find their way home, and notes dance to your rhythm. Organize tasks, create expressive notes, collaborate seamlessly, and boost your productivity. Sign up today and let your chaos take a backseat!">
<meta name="keywords" content="ChoreChirp, task manager, note-taking app, productivity app, collaboration, organization">
<meta name="robots" content="index, follow">

<!-- Canonical URL -->
<link rel="canonical" href="{{ url_for('routes.index', _external=True) }}">

<!-- Open Graph Tags -->
<meta property="og:title" content="ChoreChirp - Where Tasks Find Their Way Home">
<meta property="og:description" content="Simplify your life with ChoreChirp – the task management and note-taking app where tasks effortlessly find their way home, and notes dance to your rhythm. Organize tasks, create expressive notes, collaborate seamlessly, and boost your productivity. Sign up today and let your chaos take a backseat!">
<meta property="og:image" content="{{ url_for('static', filename='images/logo-dark.png', _external=True) }}">
<meta property="og:url" content="{{ url_for('routes.index', _external=True) }}">

<!-- Twitter Card Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="ChoreChirp - Where Tasks Find Their Way Home">
<meta name="twitter:description" content="Simplify your life with ChoreChirp – the task management and note-taking app where tasks effortlessly find their way home, and notes dance to your rhythm. Organize tasks, create expressive notes, collaborate seamlessly, and boost your productivity. Sign up today and let your chaos take a backseat!">
<meta name="twitter:image" content="{{ url_for('static', filename='images/logo-dark.png', _external=True) }}">
