{% from 'macros/group-card.j2' import group_card %}

<section>
    <div class="chore-group-container row row-cols-1 row-cols-lg-4 align-items-stretch gy-4">
        {% for group in groups %}
            {{ group_card(group) }}
        {% endfor %}

        {% if groups|length < 4 %}
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-0 h-100">
                    <a href="{{ url_for('groups.add_group') }}"
                       class="w-100 btn btn-lg btn-outline-secondary h-100">Add group</a>
                </div>
            </div>
        {% endif %}
    </div>
</section>