{% from 'macros/logo-icon.j2' import logo_icon %}

<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3 d-flex align-items-center">
    {{ logo_icon(72, 72) }}
    <span class="ms-3">ChoreChirp</span>
</h1>
<p class="col-lg-10 fs-4 pt-0 pt-lg-4">
    Are you tired of your to-do list resembling a scrambled puzzle? Sign up for ChoreChirp now, where tasks find their way home, notes get their groove on, and even your cat's nap schedule is organized. Don't let your chaos steal the spotlight — get started today!
</p>
