/* TODO: These styles might need some refactoring */

body {
    min-height: 100vh;
}

#dark-mode-toggle i {
    display: none;
}

[data-bs-theme="dark"] #dark-mode-off,
[data-bs-theme="light"] #dark-mode-on {
    display: block;
}

.toast.text-bg-warning .btn-close {
    filter: none;
}

.toast.text-bg-danger .btn-close,
.toast.text-bg-success .btn-close {
    filter: var(--bs-btn-close-white-filter);
}

.is-hidden {
    display: none !important;
}

.card-chore-group .btn-outline-secondary,
.chore-group-container .btn-outline-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
}

.card-chore.dragging {
    opacity: 0.5;
    background-color: var(--bs-gray-300);
}

.col.dragging > .card,
.col.dragging .card-chore {
    opacity: 0.5;
    background-color: var(--bs-gray-300);
}

.comment-title .link-secondary,
.chore-group-title .link-secondary,
.chore-detail-title .link-secondary {
    text-decoration: none !important;
}

.card-header-hidden {
    border-bottom: 0;
}

.comment-hidden {
    font-size: 16px;
    font-weight: 400;
}

.comment-timestamp {
    font-size: 12px;
    font-weight: 400;
    margin-left: 1em;
}

.codehilite {
    background-color: var(--bs-tertiary-bg) !important;
}

.form-control:autofill,
.form-control:-webkit-autofill {
    box-shadow: inset 0 0 0 32px var(--bs-body-bg) !important;
    -webkit-text-fill-color: var(--bs-body-color);
}
