/* TODO: These styles might need some refactoring */

body {
    min-height: 100vh;
}

.is-hidden {
    display: none !important;
}

a.btn.btn-outline-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
}

.card-task.dragging {
    opacity: 0.5;
    background-color: var(--bs-gray-300);
}

.col.dragging > .card,
.col.dragging .card-task {
    opacity: 0.5;
    background-color: var(--bs-gray-300);
}

.comment-title .link-secondary,
.task-group-title .link-secondary,
.task-detail-title .link-secondary {
    text-decoration: none !important;
}

.card-header-hidden {
    border-bottom: 0;
}

.comment-hidden {
    font-size: 16px;
    font-weight: 400;
}

.comment-timestamp {
    font-size: 12px;
    font-weight: 400;
    margin-left: 1em;
}