{% from 'macros/task-card.jinja2' import task_card %}

{% macro group_card(group) %}

    <div class="col" draggable="true">
        <div class="card card-task-group mb-4 rounded-3 shadow-sm h-100" data-group-id="{{ group.id }}">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ group.title }}</h4>
            </div>
            <div class="card-body card-task-container text-start">

                {% for task in group.task_objects %}
                    {{ task_card(task) }}
                {% endfor %}

            </div>
            <div class="px-3 pb-3">
                <a href="{{ url_for('tasks.add_task', group_id=group.id) }}"
                   class="w-100 btn btn-lg btn-outline-secondary">Add task</a>
            </div>
        </div>
    </div>

{% endmacro %}