{% from 'macros/chore-metadata-line.j2' import chore_metadata_line %}

<section class="mb-4">
    <div class="card">
        <div class="card-header">
            Details:
        </div>
        <div class="card-body">
            {% for key, value in metadata %}
                {% if value %}
                    {{ chore_metadata_line(key, value) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>