{% macro task_form_field(field) %}

    {% set custom_class = 'form-control' %}
    {% if field.type == 'SelectField' %}
        {% set custom_class = 'form-select' %}
    {% endif %}

    <div class="form-floating mb-3">
        {{ field(class_=custom_class, placeholder=field.label.text) }}
        {% if field.type != 'TextAreaField' %}
            <label for="{{ field.id }}">{{ field.label.text }}</label>
        {% endif %}
    </div>

{% endmacro %}