@import "vendors/pygments.css";
@import "vendors/simplemde-dark.css";


/* General styles */

body {
    min-height: 100vh;
}


/* Utilities */

.is-hidden {
    display: none !important;
}


/* Bootstrap overrides */

.form-control {

    &:autofill,
    &:-webkit-autofill {
        box-shadow: inset 0 0 0 32px var(--bs-body-bg) !important;
        -webkit-text-fill-color: var(--bs-body-color);
    }
}

.link-secondary {
    text-decoration: none !important;
}


/* Color themes related styles */

#dark-mode-toggle i {
    display: none;
}

[data-bs-theme="dark"] #dark-mode-off,
[data-bs-theme="light"] #dark-mode-on {
    display: block;
}

svg.logo-icon {

    > path {
        fill: var(--bs-body-bg);
    }

    > rect {
        fill: var(--bs-body-color);
    }
}


/* Toast (flash) messages */

.toast.text-bg-warning .btn-close {
    filter: none;
}

.toast.text-bg-danger .btn-close,
.toast.text-bg-success .btn-close {
    filter: var(--bs-btn-close-white-filter);
}

@media (max-width: 991.98px) {

    .toast-container {
        bottom: 0;
        top: unset !important;
    }
}


/* My chores dashboard */

@media (min-width: 992px) {

    body[data-path="/home"] {
        height: 100vh;
        overflow-y: hidden;

        .card-chore-container {
            max-height: calc(100vh - 240px);
            overflow-y: auto;
        }
    }
}

.card-chore-container {

    > .chore-group-empty {
        display: none;
    }

    > *:first-child:not(.card-chore) {
        display: flex;
    }

    .card-chore-group {
        min-height: 25vh;

        &:not([data-chores-count="0"]) .link-remove-group {
            display: none !important;
        }
    }

    .card-chore.dragging {
        background-color: var(--bs-gray-300);
        opacity: 0.5;
    }

    .col.dragging {

        .card,
        .card-chore {
            background-color: var(--bs-gray-300);
            opacity: 0.5;
        }
    }
}

.card-chore-group,
.chore-group-container {

    .btn-outline-secondary {
        align-items: center;
        border-style: dashed;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


/* Comments related styles */

.comment-header-hidden {
    border-bottom: 0;
}

.comment-hidden {
    font-size: 16px;
    font-weight: 400;
}

.comment-timestamp {
    font-size: 12px;
    font-weight: 400;
    margin-left: 1em;
}


/* Markdown related styles */

.codehilite {
    background-color: var(--bs-tertiary-bg) !important;
}
