<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">

    <!-- Custom CSS override -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <!-- JS variables used in custom scripts -->
    <script>
        const App = {
            endpoints: {
                updateGroups: "{{ url_for('groups.update_groups') }}",
                updateTasks: "{{ url_for('tasks.update_tasks') }}",
            },
            userId: "{{ current_user.id }}",
        };
    </script>

    {% block head %}{% endblock %}
</head>

<body>
    {% include 'sections/navbar.html' %}
    {% include 'snippets/flash-messages.html' %}

    <main class="container container-fluid mt-4">
        {% block body %}{% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>